{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<div class="max-w-lg mx-auto">
  <h1 class="text-2xl text-grey-800">Enter new password</h1>
  <form class="mt-5" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="w-full text-white bg-green-500 hover:bg-green-600 py-2 rounded-md" type="submit">
      Reset password
    </button>
  </form>
  <div class="py-1 border-t border-grey-200 mt-3">
    <a class="hover:text-green-600" href="{% url 'login' %}">Cancel</a>
  </div>
</div>

{% endblock content  %}
