<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="{% url 'home-page' %}">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="none" class="w-10 h-10 text-white p-1.5 bg-green-500 rounded-full object-cover" viewBox="-2 -1 28 28">
        <path d="M22 6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h5V4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h5zm0 2.5a.5.5 0 0 0-.5-.5h-19a.5.5 0 0 
        0-.5.5v11a.5.5 0 0 0 .5.5h19a.5.5 0 0 0 .5-.5v-11zM13 13h3v2h-3v3h-2v-3H8v-2h3v-3h2v3zm1.5-9h-5a.5.5 0 0 0-.5.5V6h6V4.5a.5.5 0 0 0-.5-.5"></path>
      </svg>
      <span class="ml-3 text-xl">Patient Flow</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      {% if request.user.is_authenticated %}
        {% if request.user.is_organiser %}
          <a class="mr-5 hover:text-gray-900" href="{% url 'staff:staff-list' %}">STAFF</a>          
        {% endif %}
        <a class="mr-5 hover:text-gray-900" href="{% url 'patients:patient-list' %}">PATIENTS</a>
      {% endif %}
    </nav>
    
    {% if request.user.is_authenticated %}
      Logged in as: {{ request.user.username }}
      <a href="{% url 'logout' %}" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base ml-4 md:mt-0">
        LOGOUT
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
    </a>
    {% else %}
    <a href="{% url 'login' %}" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
      LOGIN
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
    {% endif %}
  </div>
</header>
