<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient List</title>
    <style>
      .lead {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 8px;
        padding-bottom: 8px;
        margin-top: 15px;
        background-color: #f2f2f2;
        width: 100%;       
      }
    </style>
  </head>
  
  <body>
    <a href="/patients/add/">Add patient</a>
    <hr />
    <h1>Patient List</h1>
      {% for patient in patients %}
        <div class="lead">
          <a href="/patients/{{ patient.pk }}/">{{ patient.first_name }} {{ patient.last_name }}</a>, {{ patient.age }}
        </div>
      {% endfor %}  
  </body>
</html>
