<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Details</title>
    <style>
      .lead {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 8px;
        padding-bottom: 8px;
        margin-top: 15px;
        background-color: #f2f2f2;
        width: 100%;       
      }
    </style>
  </head>
  
  <body>
    <a href="/patients">Back to patient list</a>
    <hr />
    <h1>{{ patient.first_name }}'s Details</h1>
      <p>Age: {{ patient.age }}</p>
      <p>NHS Number: {{ patient.nhs_number }}</p>
  </body>
</html>